@import "./styles/fonts.css";

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  padding: 0;
  margin: 0;
}
button {
  border: 0;
}
.container {
  width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}
body {
  font-family: "nunito";
  overflow-x: hidden;
  position: relative;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 10px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 64px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0 32px;
    margin: 0 auto;
  }
}
@media (min-width: 1360px) {
  .container {
    width: 1360px;
    padding: 0 35px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 75px;
    margin: 0 auto;
  }
}

body {
  background-color: #f9f9f9;
}
ul li {
  list-style: none;
}
.scrollbar_main_title_item {
  color: #000;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 50px;
  background: #fff;
  padding: 8px 8px 8px 40px;
  background-position: 8px center;
  background-repeat: no-repeat;
  text-decoration: none;
  outline-offset: -2px;
  transition: 0.1s;
}
.item1 {
  background-image: url(./images/item1.png);
}
.item2 {
  background-image: url(./images/item2.png);
}
.item3 {
  background-image: url(./images/item3.png);
}
.item4 {
  background-image: url(./images/item4.png);
}
.item5 {
  background-image: url(./images/item5.png);
}
.item6 {
  background-image: url(./images/item6.png);
}
.item7 {
  background-image: url(./images/item7.png);
}
.item8 {
  background-image: url(./images/item4.png);
}
.scrollbar_main_title {
  display: flex;
  gap: 8px;
  overflow-x: auto;
}
.scrollbar_main {
  margin-bottom: 30px;
}
.active_item {
  background-color: #ffab08;
  pointer-events: none;
}
.scrollbar_main_title_item:hover,
.scrollbar_main_title_item:active {
  background-color: #ffab08;
}
.scrollbar_main_title_item:focus-visible {
  outline: 2px solid #ffab08;
}
.catalog_start {
  margin: 0px auto 80px auto;
}
@media (min-width: 1024px) {
  .scrollbar_main_title_item {
    font-size: 16px;
  }
  .scrollbar_main_title {
    gap: 24px;
    justify-content: center;
  }
  .scrollbar_main {
    margin-bottom: 50px;
  }
  .catalog_start {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0px auto 100px auto;
  }
  .cards_items_card {
    flex-grow: 1;
  }
}
@media (min-width: 1440px) {
  .scrollbar_main_title {
    gap: 38px;
  }
}
/* .cards_items__products {
  opacity: 0;
  /* transition:0.5s; */
/* transform: scale(0.5); */
/* }  */
.greyPrice {
  background-color: grey;
}
.specialBtn {
  border: 2px solid black;
}
.information {
  position: fixed;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 30px;
  font-weight: 900;
  z-index: 3000;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: yellow;
}
.information > span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
  border: 3px solid black;
  padding: 5px;
  border-radius: 10px;
}
